.rainbow-spinner {
  height: var(--height);
  overflow: hidden;
}
.rainbow-spinner__rainbow {
  height: var(--height);
  animation: rainbow-spinner-pan 10s linear infinite;
}
@keyframes rainbow-spinner-pan {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 calc(0px - var(--height));
  }
}
